.register-user {
  margin-top: var(--margin-from-navbar);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register-user > h1 {
  margin-bottom: 1rem;
}

.register-user-container {
  border: 1.5px solid #000;
  border-radius: 1.0rem;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
}

.register-user-input {
  width: 15rem;
  height: 1.5rem;
  display: block;
  margin-bottom: 0.5rem;
}

.register-user-btn {
  height: 1.7rem;
  font-size: 0.9rem;
  font-weight: 600;
}

.register-user-container p {
  text-align: center;
}